################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.userprefs

/bin
/obj
/packages



packages/




*.apk

*.dll

*.mdb

*.pdb

*.xml

*.jar

*.stamp

*.class

*.java

HorizontalListView/Droid/obj/Debug/_dex_stamp
HorizontalListView/Droid/obj
HorizontalListView/Droid/bin
HorizontalListView/iOS/bin
HorizontalListView/iOS/debug
*.txt

*.png

*.items
