################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.userprefs

/bin
/obj
/packages


agClient/agClient.Android/obj
agClient/agClient.iOS/obj
agClient/agClient.Android/bin
agClient/agClient.iOS/bin
AgSignaling/bin
AgSignaling/obj
XamarinOpenTok/
packages/
AgriTok/AgriTok/AgriTok/AgriTok.Droid/bin/
AgriTok/AgriTok/AgriTok/AgriTok.Droid/obj/
AgriTok/AgriTok/AgriTok/AgriTok.iOS/obj/
AgriTok/AgriTok/AgriTok/AgriTok.iOS/bin/


!packages/repositories.config
!packages/Static_Azure.Messaging/
!packages/Static_Dropbox.Drop-ins/
!packages/Static_FM/
!packages/Static_HockeyApp/
agClient.Android/bin/
agClient.Android/obj/
agClient.iOS/obj/
agClient.iOS/bin/
